@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #ffffff;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #ffffff;
    --cor-hover: #ffffff;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


body {
    box-sizing: border-box;
    color: var(--cor-secundaria);
    background: var(--cor-primaria);
    background-image: url(../assets/BackPhoto.jpg);
    background-size: 2700px;
}

.navegacao {
    padding: 4% 0%;
}

.navegacao_menu {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.navegacao_menu_link {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
}

.menu_mobile_icone {
    display: none;
}

.menu_mobile {
    display: none;
}

.conteudo {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.conteudo_apresentacao {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.conteudo_apresentacao_titulo {
    color: var(--cor-terciaria);
    font-size: clamp(2rem, 2vw + 0.5rem, 6rem);
    font-family: var(--fonte-primaria);
}

.conteudo_apresentacao_texto {
    font-size: clamp(1rem, 1vw + 0.5rem, 4rem);
    font-family: var(--fonte-secundaria);
}

.conteudo_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color:#ffffff;
}

.conteudo_links_subtitulo {
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.conteudo_links_navegacao {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 21.5px 0;
    width: 50%;
    color:#ffffff;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.conteudo_links_navegacao:hover {
    background-color:#000000;
}

.conteudo_imagem {
    width: 50%;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.experiencia {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.experiencia_conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 60%;
}

.experiencia_conteudo_titulo {
    font-size: clamp(1rem, 2vw + 0.5rem, 6rem);
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.experiencia_conteudo_texto {
    font-size: clamp(1rem, 1vw + 0.5rem, 4rem);
    font-family: var(--fonte-secundaria);
}

.experiencia_imagem {
    width: 40%; 
    border-radius: 20px;
	height: 700px;
}

ul {
    list-style-type: circle;
}

.contato {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato_titulo {
    font-size: clamp(2rem, 2vw + 0.5rem, 6rem);
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.contato_texto {
    font-size: clamp(1rem, 1vw + 0.5rem, 4rem);
    font-family: var(--fonte-secundaria);
    padding: 5% 0;
}

#wpp_icon {
    vertical-align: bottom;
}

iframe {
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.rodape {
    padding: 24px;
    text-align: center;
    background-color: var(--cor-terciaria);
    font-size: clamp(1rem, 1vw + 0.5rem, 4rem);
    font-weight: 400;
    font-family: var(--fonte-secundaria);
}

@media (max-width: 1000px) {   
    .navegacao_menu_link {
        display: none;
    }

    .menu_mobile_icone {
        display: block;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu_mobile .navegacao_menu_link {
        display: block;
        padding: 2%;
    }

    .conteudo {
        flex-direction: column-reverse;
    }

    .experiencia {
        flex-direction: column-reverse;
        gap: 40px;
    }

    
    .conteudo_links_navegacao {
        padding: 21.5px 30px;
    }

    a:link, a:visited { 
        text-decoration: none;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
    }
    
    .repo-link{ 
        color: var(--cor-secundaria); 
        font-family: var(--fonte-secundaria);
    }

    .repo-link:hover{ 
        color: var(--cor-hover);
        text-decoration: underline;
    }

    .contato_texto {
        padding: 10% 0;;
    }
    
    .open {
        display: none;
    }
}

@media (max-width: 650px) {
    iframe {
        width: 250px;
        height: 300px;
    }
}

    .rodape{ 
        color: black;
    }

   
    .projetos_titulo {
        font-size: clamp(1rem, 2vw + 0.5rem, 6rem);
        color: var(--cor-terciaria);
        font-family: var(--fonte-primaria);
        text-align: center;
    }
   
    .content-main{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
}
.content-main .project {
    width: 600px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 20px;
    color: rgb(182, 182, 182); 
    font-family: var(--fonte-secundaria);
}
.content-main .project div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
    border-radius: 6px;
    margin: 20px;
}
.content-main .project .title {
    color: #ffffff;
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria); ;
}
.projetos_lista {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.projetos_lista li {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

.projetos_lista a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.projetos_lista a:hover {
    text-decoration: underline;
}

.projetos_lista p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
}

